@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F0F0F2;
  --secondary-color: #504C9C;
  --tertiary-color: #FF7F5D;
  --inactive-color: #A9AEC0;
  --text-color: #252B3B;
  --background-color: #FFFFFF;
  --white-color: #FFFFFF;
}


body {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
